<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/ubicacion.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/6bfc81dbf9.js" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Pañalera</title>

    <header class="header">
        <nav class="navbar navbar-expand-lg navbar- class=" navbar style="background-color: #f7e7e2;">
            <div class="container-fluid"data-aos="zoom-in">
                <div class="logo">
                <a href="../views/index.html">
                <img src="../public/imagenes/Snapshot.PNG" alt="logo" width="350px" height="130px"> 
            </a>
        </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../views/index.html"><strong>Inicio</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/negocio.html"><strong>Negocio</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/index.html #footer"><strong>Contacto</strong></a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

                <div class="container"data-aos="zoom-in">
                    <div class="row">
                            <p class="ubicacion">
                            <h1 class="glow">Ubicación</h1>
                            </p>
                            <p class="ubicacion">
                                Nos encontramos en Av. Eva Duarte de Perón 230, Guernica, Provincia de Buenos Aires.
                                Consulte el siguiente mapa para ubicarse mejor. Pueve moverlo y realizar zoom en él para conocer la zona.
                                </p>
                            <p class="titulo-contacto">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817.9024228929419!2d-58.382321336815345!3d-34.91624322414886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bd2b35e71a6105%3A0x4b2ee6820e86b48d!2sPA%C3%91ALERA%20AMOR%20BB!5e0!3m2!1ses-419!2sar!4v1664393031164!5m2!1ses-419!2sar" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </p>
                        </div>

                        <div class="container">
                            <div class="row">
                                <p class="ubicacion">
                        Si tiene dudas de sobre como llegar a nuestro local ponerse en contacto con nosotros llamando al 11-2167-7378 
                        Los Esperamos!
                    </p>
                        </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
                <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration:1200
    });
</script>

    </head>
    <body>